<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="create-blog content">
        <form action="/create" method="POST">
          <!-- <label for="userID">User ID:</label>
          <input type="text" id="userID" name="userID" required> -->

          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" required>

          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" required>

          <label for="gender">Gender:</label>
          <input type="text" id="gender" name="gender" required>

          <label for="userDOB">Date of Birth:</label>
          <input type="text" id="userDOB" name="userDOB" required>

          <label for="emailAdd">Email Address:</label>
          <input type="text" id="emailAdd" name="emailAdd" required>

          <label for="userPass">Password:</label>
          <input type="text" id="userPass" name="userPass" required>

          <label for="profileUrl">Profile URL:</label>
          <input type="text" id="profileUrl" name="profileUrl" required>
          <button>Submit</button>
        </form>
    </div>
</body>
</html>